/* line 20, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
* { box-sizing: border-box; }

/* line 23, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
html, body { font-family: "Muli", sans-serif; background-color: #383a42; margin: 0; padding: 0; height: 100%; }

/* line 32, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
p, h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 16px; }

/* line 36, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
p { font-size: 14px; }

/* line 39, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
h2 { font-size: 16px; }

/* line 42, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
a { color: #a6abb1; text-decoration: underline; }
/* line 45, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
a:visited { color: #a6abb1; }
/* line 47, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
a:active, a:hover { color: #0894c1; }

/* line 50, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.subdued { color: #767a7e; }

/* line 59, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.header { position: fixed; top: 0; left: 0; right: 0; height: 50px; background-color: #25272c; z-index: 15; }
/* line 13, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.header:after { content: ""; display: table; clear: both; }

/* line 69, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.header__text { display: inline-block; color: #a6abb1; font-size: 16px; }

/* line 74, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.controls--top-right { color: #a6abb1; position: fixed; z-index: 30; top: 15px; right: 20px; }
/* line 13, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.controls--top-right:after { content: ""; display: table; clear: both; }

/* line 82, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.controls__item { display: inline-block; vertical-align: middle; margin-bottom: 0; margin-left: 10px; }

/* line 88, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.back-button, .settings-button, .close-button { color: #a6abb1; font-size: 22px; cursor: pointer; }
/* line 94, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.back-button:hover, .settings-button:hover, .close-button:hover { color: #0894c1; }

/* line 97, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.back-button { margin-right: 6px; vertical-align: middle; }

/* line 101, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.close-button { position: fixed; z-index: 30; top: 15px; right: 20px; }

/* line 107, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.content { position: fixed; top: 50px; bottom: 0; left: 0; right: 0; overflow-y: auto; z-index: 15; color: #a6abb1; }

/* line 119, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__column { float: left; width: 50%; padding: 16px; }

/* line 124, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row { color: #a6abb1; border-bottom: 1px solid #2e3037; }
/* line 13, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row:after { content: ""; display: table; clear: both; }
/* line 128, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row:hover { background-color: #454852; }

/* line 131, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__column, .home__notes-list__row__column--thanks-in, .home__notes-list__row__column--thanks-out { float: left; width: 50%; height: 40px; }

/* line 136, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__column--thanks-in, .home__notes-list__row__column--thanks-out { cursor: pointer; }
/* line 140, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__column--thanks-in:hover, .home__notes-list__row__column--thanks-out:hover { color: white; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)); background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; background-color: #0894c1; }

/* line 146, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__color { display: inline-block; vertical-align: middle; width: 8px; height: 100%; }

/* line 152, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__thanks-in, .home__notes-list__row__thanks-out { display: inline-block; vertical-align: middle; margin-bottom: 0; }

/* line 160, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note { height: 100%; }

/* line 163, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__map, .note__main { position: absolute !important; top: 0; bottom: 0; left: 0; right: 0; }

/* line 171, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__map { opacity: 0.1; z-index: 10; }

/* line 175, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__main { z-index: 20; }

/* line 178, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav { position: absolute; bottom: 0; left: 0; right: 0; height: 120px; }

/* line 185, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button, button.note__nav__button--previous, button.note__nav__button--next { background-color: transparent; border: none; position: absolute; bottom: 0; padding: 0; height: 80px; color: #a6abb1; font-size: 14px; opacity: 0.25; cursor: pointer; }
/* line 196, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button:hover, button.note__nav__button--previous:hover, button.note__nav__button--next:hover { opacity: 1; }
/* line 199, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button.note__nav__button--disabled, button.note__nav__button--disabled.note__nav__button--previous, button.note__nav__button--disabled.note__nav__button--next { pointer-events: none; opacity: 0; }
/* line 202, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button.note__nav__button--disabled:hover, button.note__nav__button--disabled.note__nav__button--previous:hover, button.note__nav__button--disabled.note__nav__button--next:hover { opacity: 0; }

/* line 205, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button--previous { left: 0; right: 50%; margin: 0 130px 0 30px; }

/* line 211, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button--next { left: 50%; right: 0; margin: 0 30px 0 130px; }

/* line 217, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__button__arrow, .note__nav__button__arrow--previous, .note__nav__button__arrow--next { position: absolute; margin-top: -8px; font-size: 18px; top: 50%; }

/* line 223, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__button__arrow--previous { left: 0; }

/* line 227, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__button__arrow--next { right: -6px; }

/* line 231, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__button__line { position: absolute; top: 50%; width: 100%; height: 1px; background-color: #a6abb1; }

/* line 239, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__title { position: absolute; width: 160px; height: 80px; bottom: 0; left: 50%; margin-left: -80px; color: #a6abb1; text-align: center; }
