/* line 12, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
* { box-sizing: border-box; }

/* line 15, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
html, body { font-family: "Muli", sans-serif; background-color: #383a42; margin: 0; padding: 0; height: 100%; }

/* line 24, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
p, h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 16px; }

/* line 28, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
p { font-size: 14px; }

/* line 31, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
h2 { font-size: 16px; }

/* line 38, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.header { position: fixed; top: 0; left: 0; right: 0; height: 50px; background-color: #25272c; }
/* line 5, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.header:after { content: ""; display: table; clear: both; }

/* line 47, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.header__text { color: #616472; font-size: 16px; }

/* line 53, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__column { float: left; width: 50%; padding: 16px; }

/* line 58, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list { position: fixed; top: 50px; bottom: 0; left: 0; right: 0; overflow-y: scroll; }

/* line 66, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row { color: #a6abb1; border-bottom: 1px solid #2e3037; }
/* line 5, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row:after { content: ""; display: table; clear: both; }
/* line 70, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row:hover { background-color: #454852; }

/* line 73, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__column, .home__notes-list__row__column--thanks-in, .home__notes-list__row__column--thanks-out { float: left; width: 50%; height: 40px; }

/* line 78, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__column--thanks-in, .home__notes-list__row__column--thanks-out { cursor: pointer; }
/* line 82, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__column--thanks-in:hover, .home__notes-list__row__column--thanks-out:hover { background-color: rgba(255, 255, 255, 0.05); }

/* line 85, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__color { display: inline-block; vertical-align: middle; width: 8px; height: 100%; }

/* line 91, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.home__notes-list__row__thanks-in, .home__notes-list__row__thanks-out { display: inline-block; vertical-align: middle; margin-bottom: 0; }

/* line 99, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note { height: 100%; }

/* line 102, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__map, .note__main { position: fixed !important; top: 0; bottom: 0; left: 0; right: 0; }

/* line 110, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__map { opacity: 0.1; z-index: 10; }

/* line 114, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__main { z-index: 20; }

/* line 117, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav { position: absolute; bottom: 0; left: 0; right: 0; height: 120px; }

/* line 124, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button, button.note__nav__button--previous, button.note__nav__button--next { background-color: transparent; border: none; position: absolute; bottom: 0; padding: 0; height: 80px; color: #a6abb1; font-size: 14px; opacity: 0.25; cursor: pointer; }
/* line 135, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button:hover, button.note__nav__button--previous:hover, button.note__nav__button--next:hover { opacity: 1; }
/* line 138, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button.note__nav__button--disabled, button.note__nav__button--disabled.note__nav__button--previous, button.note__nav__button--disabled.note__nav__button--next { pointer-events: none; opacity: 0; }
/* line 141, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button.note__nav__button--disabled:hover, button.note__nav__button--disabled.note__nav__button--previous:hover, button.note__nav__button--disabled.note__nav__button--next:hover { opacity: 0; }

/* line 144, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button--previous { left: 0; right: 50%; margin: 0 130px 0 30px; }

/* line 150, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
button.note__nav__button--next { left: 50%; right: 0; margin: 0 30px 0 130px; }

/* line 156, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__button__arrow, .note__nav__button__arrow--previous, .note__nav__button__arrow--next { position: absolute; margin-top: -8px; font-size: 18px; top: 50%; }

/* line 162, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__button__arrow--previous { left: 0; }

/* line 166, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__button__arrow--next { right: -6px; }

/* line 170, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__button__line { position: absolute; top: 50%; width: 100%; height: 1px; background-color: #a6abb1; }

/* line 178, /Users/cjcenizal/Documents/Work/GitHub/karma/app/assets/sass/application.sass */
.note__nav__title { position: absolute; width: 160px; height: 80px; bottom: 0; left: 50%; margin-left: -80px; color: #a6abb1; text-align: center; }
